body {
    margin: 0;
    font-family: Arial;
    background: #0b0f1a;
    color: white;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #111827;
}

.Logo {
    font-size: 20px;
    color: #22c55e;
}

.Nav_Items span {
    margin: 10px;
    cursor: pointer;
}

.Search_Section {
    text-align: center;
    padding: 20px;
}

input {
    padding: 10px;
    width: 400px;
}

button {
    padding: 10px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}

.Stats {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Card {
    background: #1f2937;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.Main_Container {
    display: flex;
    padding: 20px;
}

.Left, .Right {
    width: 50%;
}

.Block, .Tx {
    background: #1f2937;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.Search_Result {
    padding: 20px;
}